html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin-top: 0;
  margin: auto;
  padding: 10px;
}

.hraci,
.hrac {
  display: flex;
}

.hrac {
  flex-grow: 1;
}

.hrac {
  margin-bottom: 1em;
}

.centrovany {
  text-align: center;
}

.Adela {
  justify-content: end;
}

.foto-hrace {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.Adela .foto-hrace {
  order: 1;
}

.Adela .jmeno h2 {
  text-align: right;
}

.jmeno h2 {
  margin: 0;
  padding: 0;
}

.jmeno {
  padding: 0.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

.barva-hrace {
  font-size: 1em;
  margin: 0;
}

.hraci-prostor {
  border: 10px solid rgb(70, 54, 32);
  border-radius: 10px;
  max-width: 600px;
  max-height: 600px;
}

.hra {
  background-image: url(obrazky/sachovnice.png);
  background-size: cover;
  background-position-x: center;
  background-origin: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hra div {
  width: 100%;
  height: 100%;
}

.hra img {
  width: 95%;
  height: 100%;
  object-fit: contain;
}

.nova-hra {
  background-color: rgb(66, 139, 212);
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vyhodnoceni p {
  font-size: 1.5em;
  margin-top: 2em;
}


@media screen and (min-width: 600px) {

  html {
    background-color: rgb(212, 211, 211);
  }

  body {
    background-color: white;
    max-width: 600px;
    margin: auto;
  }
}